* { margin: 0; padding: 0; }

body {
    font-family: sans-serif;
}

header {
    height: 44pt;
    margin-bottom: 8pt;
    background-color: rgb(79,89,42);
}

main {
    margin-bottom: 8pt;
    display: flex;
    flex-direction: row;
}

#feed {
    order: 0;
    display: flex;
    flex-direction: column;
}

#feed section:nth-child(1) {
    flex: 1;
    margin-bottom: 8pt;
    background-color: rgb(105,146,64);
}

#feed section:nth-child(2) {
    flex: 1;
    background-color: rgb(148,139,119);
}

#content {
    order: 1;
    margin: 0 8pt;
    background-color: rgb(251,223,170);
}

#sidebar {
    order: 2;
    background-color: rgb(244,210,114);
}

footer {
    height: 104pt;
    background-color: rgb(204,199,116);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
    display: block;
    width: 104pt;
    height: 32pt;
    line-height: 32pt;
    font-size: 8pt;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(260,216,76);
    border-radius: 22pt;
    box-shadow: inset 52pt 0 26pt rgb(238,183,45);
    cursor: pointer;
}

@media screen and (min-width: 600px) {

    main {
        height: 408pt;
    }

    #content {
        flex: 3.64;
    }

    #sidebar {
        flex: 1;
    }

    #feed {
        flex: 1;
    }
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    #content {
        margin: 0 0 8pt 0;
        order: 0;
        height: 444pt;
    }

    #feed {
        order: 1;
        height: 220pt;
        flex-direction: row;
        margin-bottom: 8pt;
    }

    #feed section:nth-child(1) {
        margin-bottom: 0;
        margin-right: 8pt;
    }

    #sidebar {
        height: 444pt;
    }
}

/*

margin: 8

head h: 30  = 1          ; 44
foot h: 72  = head * 2.4 ; 105.6
body h: 280 = head * 9.3 ; 409.2

feed    w: 126
sidebar w: 126
content w: 455 = feed * 3.64

*/